// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/*** Variables ***/
/* Font weight */
$small: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* Defining the project palette */
/* For use in src/lib/core/theming/_palette.scss */
$primary-hub-palette: (
    50 : #ffebe2,
    100 : #ffccb6,
    200 : #F89F77,
    300 : #ff8954,
    400 : #ff6f2f,
    500 : #ff560a,
    600 : #ff4f09,
    700 : #ff4507,
    800 : #ff3c05,
    900 : #ff2b03,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc7bf,
    A700 : #ffb0a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$secondary-hub-palette: (
    50 : #ebf7f8,
    100 : #cceaee,
    200 : #abdde3,
    300 : #89cfd8,
    400 : #6fc4cf,
    500 : #56bac7,
    600 : #4fb3c1,
    700 : #45abba,
    800 : #3ca3b3,
    900 : #2b94a6,
    A100 : #e9fbff,
    A200 : #b6f3ff,
    A400 : #83ebff,
    A700 : #69e7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* Defining the font */
/* Format
 * mat.define-typography-level(
      $font-size,
      $line-height: $font-size,
      $font-weight: 400,
      $font-family: null,
      $letter-spacing: normal)
 * Test font: 'Brush Script MT'
 * Real font: Teko
*/
$hub-custom-typography-config: mat.define-typography-config(
  /* Project creation success?: mat-display-4 - 50px  */
  $display-4: mat.define-typography-level(3.125rem, 3.813rem, $bold, $font-family: Teko, $letter-spacing: -0.05em),
  /* Plan title?: mat-display-3 - 48px  */
  $display-3: mat.define-typography-level(3rem, 3.625rem, $bold, $font-family: Teko, $letter-spacing: 0),
  /* Section title: mat-display-2 - 44px */
  $display-2: mat.define-typography-level(2.75rem, 3.375rem, $semi-bold, $font-family: Teko, $letter-spacing: 0),
  /* Title : mat-display-1 - 40px */
  $display-1: mat.define-typography-level(2.5rem, 3.0625rem, $bold, $font-family: Teko, $letter-spacing: 0),
  /* h1 - 34px*/
  $headline:  mat.define-typography-level(2.125rem, 2.625rem, $semi-bold, $font-family: Teko, $letter-spacing: 0px),
  /* h2 - 28px */
  $title: mat.define-typography-level(1.75rem, 2.688rem, $regular, $font-family: Teko),
  /* h3 - 26px*/
  $subheading-2:  mat.define-typography-level(1.625rem, 3.0625rem, $medium, $font-family: Teko, $letter-spacing: 0px),
  /* h4 - 22px*/
  $subheading-1: mat.define-typography-level(1.375rem, 2.125rem, $medium, $font-family: Teko),
  /* body/regular text: mat-body - 18px*/
  $body-1: mat.define-typography-level(1.125rem, 1.375rem, $regular, $font-family: Teko, $letter-spacing: 0px),
  /* bolder body text: mat-body-strong - 18px*/
  $body-2: mat.define-typography-level(1.125rem, 1.375rem, $bold, $font-family: Teko),
  /* TO BE CHANGED caption: mat-caption - 18px */
  $caption: mat.define-typography-level(1.125rem, 1.375rem, $medium, $font-family: Teko, $letter-spacing: 0px),
  /* button - 18px */
  $button: mat.define-typography-level(1.125rem, 1.375rem, $medium, $font-family: Teko, $letter-spacing: 0px),
  /* input - 18px */
  $input: mat.define-typography-level(1.125rem, 1.375em, $medium, $font-family: Teko, $letter-spacing: 0px),
);

/* Implementing the project palette into the theme */
/// @param {Map} $base-palette Map of hue keys to color values for the basis for this palette.
/// @param {String | Number} $default Default hue for this palette.
/// @param {String | Number} $lighter "lighter" hue for this palette.
/// @param {String | Number} $darker "darker" hue for this palette.
/// @param {String | Number} $text "text" hue for this palette.
/// @returns {Map} A complete Angular Material theming palette.
$hub-primary: mat.define-palette($primary-hub-palette, 500, 200);
$hub-accent: mat.define-palette($secondary-hub-palette, 500);
$hub-warn: mat.define-palette(mat.$red-palette, 500, A700);

$hub-theme: mat.define-light-theme((
 color: (
   primary: $hub-primary,
   accent: $hub-accent,
   warn: $hub-warn,
 )
));

/* Glue all the configured styles above */
/* Typography */
@include mat.core($hub-custom-typography-config);

/* Theme */
@include mat.core-theme($hub-theme);
@include mat.button-theme($hub-theme);
@include mat.all-component-themes($hub-theme);
