on:
  push:
    branches:
    - master
    - develop
    - devops/pipeline
  pull_request:
    branches:
    - master
    - develop

permissions:
  id-token: write
  pages: write

jobs:
  setup:
    name: Workflow setup
    runs-on: ${{ matrix.os }}
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
    strategy:
      matrix:
        node_version: ['18']
        os: [ubuntu-latest]
        build_dir: ['./dist']
        package_name: ['build.zip']

    steps:
    - name: Extract branch name
      shell: bash
      run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
      id: extract_branch
       
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    needs: setup
    strategy:
      matrix:
        node_version: ['18']
        os: [ubuntu-latest]
        build_dir: ['./dist']
        package_name: ['build.zip']

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: npm install, build and test
      run: |
        npm install
        npm run build
        zip -r ${{ matrix.package_name }} ${{ matrix.build_dir }}
    
    - uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.package_name }}
        path: ${{ matrix.package_name }}
        retention-days: 1
    
  deploy:
    name: Deploy
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      matrix:
        node_version: ['18']
        os: [ubuntu-latest]
        build_dir: ['./dist']
        package_name: ['build.zip']
    steps:
    - name: Download build
      uses: actions/download-artifact@v5
      id: deploy-download
      with:
        name: ${{ matrix.package_name }}
        path: ${{ matrix.build_dir }}
      
    - name: Unzip
      run: |
        unzip $PACKAGE_URL -d $GITHUB_WORKSPACE/site
      env:
        PACKAGE_URL: ${{ steps.deploy-download.outputs.download-path }}/${{ matrix.package_name }}

    - name: Setup Pages
      uses: actions/configure-pages@v5

    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./site
        
    - name: Deploy
      id: pages-deploy
      uses: actions/deploy-pages@v4
